.logo{
    width: 10%;
}

button{
    background-color: #91B493;
    color: black;
    border-radius: 10px ;
    border-color: grey;
    margin: 5px;
}

.botones{
    text-align: center;
    margin: 16px;
}

.table{
    margin: 16px 0px;
    border-color: black;
    border:solid 3px;
    background-color: #91B493;
    backface-visibility: 20%;
}

th,td{
    border:solid;
    text-align: center;
 }

 th :scope{
    text-align: center;
 }
